In [1]:
import pandas as pd
import numpy as np
import learner as ln

In [48]:
df = pd.read_csv('CLEANED_WITH_LOCATION_WITH_LABEL.csv')

In [ ]:
data.['LOC_ID'] = pd.Categorical(data.LOCATION).codes
data.['EVENT_ID'] = pd.Categorical(data.EVENT_NAME).codes
data.['GENDER_ID'] = pd.Categorical(data.GENDER).codes
data.['CATEGORY_ID'] = pd.Categorical(data.CATEGORY).codes
data.['EVENT_TYPE_ID'] = pd.Categorical(data.EVENT_TYPE).codes

In [68]:
df.sort_values('PARTICIPANT_ID').tail()

,Unnamed: 0,PARTICIPANT_ID,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY,GENDER,EVENT_DT,DAY,YEAR,DAY_OF_WEEK,MONTH,ID,LOCATION,LABEL
26952,26952,8710,2014-06-28,Demi Marathon de Sherbrooke,Demi-Marathon,01:18:04,M40-49,M,2014-06-28,28,2014,5,6,26952,"SHERBROOKE, QC",0
26951,26951,8710,2015-06-06,Vert le Raid - TRAIL La Clinique Du Coureur,10K Marathon,00:47:26,M40-49,M,2015-06-06,6,2015,5,6,26951,"LAC-BEAUPORT, QC",0
26950,26950,8710,2016-07-03,Demi-Marathon de Sherbrooke,Demi-Marathon,01:18:24,M40-49,M,2016-07-03,3,2016,6,7,26950,"SHERBROOKE, QC",0
26954,26954,8710,2013-09-22,Marathon Oasis de Montreal,Marathon,02:43:47,M35-39,M,2013-09-22,22,2013,6,9,26954,"MONTREAL, QC",1
26960,26960,8710,2012-02-18,Demi Marathon Hypothermique,Demi-Marathon,01:18:50,M30-39,M,2012-02-18,18,2012,5,2,26960,"MONTREAL, QC",0

In [ ]:
test = data[data.YEAR == 2015]
train = data[data.YEAR != 2015]

In [ ]:
TRAIN_COLS = ['PARTICIPANT_ID','YEAR','LOC_ID','EVENT_ID','EVENT_TYPE_ID']
TEST_COLS = ['']

In [ ]:
len(test)

In [ ]:
data.GENDER = data.GENDER.replace('H','M')

In [ ]:
data = data.set_value(22766,'GENDER', 'M')

In [ ]:
data = data.set_value(21266,'GENDER', 'F')

In [ ]:
data = data.set_value(18263,'GENDER', 'M')

In [ ]:
data = data.set_value(16835,'GENDER', 'M')

# Important Note 

When handling categorical variables, it is **not** okay to just set them as 1,2,3...n values, as that would implement a constraint / bias that 1 is better than 2 etc. So, need to transform all event types into their individual category column binaries. This is done by scikit-learn too.

## Therefore, option 1 : discretize ALL

* Event type : 525 columns
* Gender : 2 columns
* Year : 2016,2015,2014,2013,2012 - 5 column
* Location : 232
* Event Name ? : 582
* Age : Discretize depending on category. below 15, 15-25,25-35 etc
* Discretize ID's : 8000+ columns

## Also TODO

* Get KM value
* Normalize KM

In [ ]:
len(data.LOCATION.value_counts())

In [ ]:
len(data.EVENT_NAME.value_counts())

## Discretizing data

In [ ]:
def discretize(df,columns):
    COLS = []
    for i,column in enumerate(columns):
        print 'Checking ' + column
        df[column].fillna('UNK'+column,inplace=True)
        cf = df[column].value_counts().reset_index()
        chs = [row['index'] for i,row in cf.iterrows()]
        #print i
        #print chs
        COLS.extend(chs)
    #COLS = list(itertools.chain.from_iterable(COLS))
    #disc_df = pd.DataFrame(columns=COLS)
    full = []
    for i,row in df.iterrows():
        r = np.zeros(len(COLS))
        for column in columns:
            r[COLS.index(row[column])] = 1
        full.append(r)
    print 'Agg done'
    full = np.vstack(full)
    print 'vstack done'
    #disc_df = disc_df.append(pd.DataFrame(np.array([r]),columns=COLS),ignore_index=True)
    disc_df = pd.DataFrame(full,columns=COLS)
    return disc_df

In [ ]:
def transform(df,COLS):
    return discretize(df,COLS)

In [ ]:
tdf = transform(data,['GENDER','YEAR'])

In [ ]:
tdf['p_id'] = data.PARTICIPANT_ID

In [ ]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
import learner as ln

In [ ]:
tdf = tdf.fillna(0)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(tdf,data.LABEL)

In [ ]:
#lg1 = ln.logistic(iter_n=100)
lg2 = LogisticRegression(max_iter=100)

In [ ]:
lg1 = ln.logistic(iter_n=100)

In [ ]:
lg2.fit(X_train, y_train)

In [ ]:
lg1.fit(X_train, y_train)

In [ ]:
yp1 = lg1.predict(X_test)

In [ ]:
yp = lg2.predict(X_test)

In [ ]:
yp

In [ ]:
np.mean(yp == y_test)

In [ ]:
np.mean(yp1 == y_test)

In [ ]:
pre = data[['PARTICIPANT_ID','']]

In [ ]:
np.zeros(4)

In [ ]:
data.EVENT_TYPE = data.EVENT_TYPE.fillna('')

In [ ]:
len(data[data.EVENT_TYPE.isnull()])

In [ ]:
tdf.head()

In [ ]:
data[data.EVENT_TYPE == '']

In [ ]:
data.dtypes

## Problems While Discretizing

* Large number of columns, computationally intensive
* While predicting, lots of columns have to be zero, hence making those features useless

## New feature engineering thoughts

* Total Events - count of events the participant has participated per year
* Grand Total Events - all things by the player
* Nearby Events - geographically near count...
* Weather info only for Montreal Marathon
* Age group.. can be discretized or not
* Is Ski / Is Cycling -- ?

### New way of organizing data : 

Check whether he had participated in Montreal + Marathon only, give those 1. Else 0

#### Table Format

-------------------------------
| Unique ID | 2012 | 2013 | 2014 | 2015 | 2016 | Total | Tot2012 | Tot2013 | Tot2014 | Tot2015 | Tot2016 | Male | Female | AgeGroup |

## But, for Regression ?

#### Table Format

|ID (not unique, as several records)| 2012 | 2013 | 2014 | 2015 | 2016 | Male | Female | AgeGroup | KM |

-----------------

# Data Preparation for Classification

In [2]:
data = pd.read_csv('DATASET4ModifiedFinalUpdated.CSV')

In [26]:
data.columns = cols

In [70]:
dd = pd.read_csv('DataForRegression.CSV')

In [24]:
cols = data.columns
cols = cols.tolist()
cols.pop(0)
cols.insert(0,'PARTICIPANT_ID')

In [34]:
data = data[:-1]

In [ ]:
## Convert Row to per user data

In [36]:
# Any marathon related event within Montreal. This can be a feature
mara = data[(data.LABEL == 1) & data.LOCATION.str.contains('montreal',case=False)]

### Features - 

* Yearly participation in Montreal Marathon (yes = 1, no = 0) : 2012,2013,2014,2015
* Number of marathons participated : NUM_MARA
* Number of marathons within Montreal participated : NUM_MON_MARA
* Total Number of Events Participated : NUM_TOTAL
* Yearly total event count : TOTAL_2012, TOTAL_2013, TOTAL_2014, TOTAL_2015

## Observations

* Participant ID 7959 has 2 entries on Montreal Marathon in the year 2012, both in separate categories. Verified with cleaned data
* Same for Participant ID 6497, which has 2 entries in 2015 

### Solution : 

* Remove any one value from both

In [69]:
data[data.PARTICIPANT_ID == 8710]

,PARTICIPANT_ID,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY,GENDER,EVENT_DT,DAY,YEAR,...,ID,LOCATION,LABEL,EveTyp,Age1,Age2,AvgAge,Distance,TimePerKm,TimeInSeconds
1442,8710,22-09-2013,Marathon Oasis de Montreal,Marathon,02:43:47,M35-39,M,22-09-2013,22,2013,...,NaN,MONTREAL QC,1,6,35,39,37,42,233,9827
1443,8710,26-08-2012,Marathon des Deux Rives LÃ©vis-QuÃ©bec,Marathon,02:55:16,M30-39,M,26-08-2012,26,2012,...,NaN,QUEBEC QC,1,5,30,39,34,42,250,10516
1444,8710,27-05-2012,Ottawa Race Weekend,Marathon,02:41:11,M35-39,M,27-05-2012,27,2012,...,NaN,OTTAWA ON,1,5,35,39,37,42,230,9671
15764,8710,03-07-2016,Demi-Marathon de Sherbrooke,Demi-Marathon,01:18:24,M40-49,M,03-07-2016,3,2016,...,NaN,SHERBROOKE QC,1,3,40,49,44,21,224,4704
15765,8710,06-06-2015,Vert le Raid - TRAIL La Clinique Du Coureur,10K Marathon,00:47:26,M40-49,M,06-06-2015,6,2015,...,NaN,LAC-BEAUPORT QC,1,2,40,49,44,10,284,2846
15766,8710,28-06-2014,Demi Marathon de Sherbrooke,Demi-Marathon,01:18:04,M40-49,M,28-06-2014,28,2014,...,NaN,SHERBROOKE QC,1,3,40,49,44,21,223,4684
15767,8710,07-06-2014,Vert le Raid - TRAIL La Clinique Du Coureur,10K Marathon,00:48:15,M40-49,M,07-06-2014,7,2014,...,NaN,LAC-BEAUPORT QC,1,2,40,49,44,10,289,2895
15768,8710,07-09-2013,Ultra-Trail Harricana de Charlevoix,65 KM,06:03:50,M30-39,M,07-09-2013,7,2013,...,NaN,LA MALBAIE QC,0,0,30,39,34,0,0,0
15769,8710,09-06-2013,La Grande Viree des Sentiers St-Bruno,20 KM,01:14:25,M30-39,M,09-06-2013,9,2013,...,NaN,ST-BRUNO,0,0,30,39,34,0,0,0
15770,8710,05-05-2012,North Face Endurance Challenge - Northeast Reg...,50 Miles,08:37:48,M36-45,M,05-05-2012,5,2012,...,NaN,BEAR MOUNTAIN NY,0,0,36,45,40,0,0,0
15771,8710,18-02-2012,Demi Marathon Hypothermique,Demi-Marathon,01:18:50,M30-39,M,18-02-2012,18,2012,...,NaN,MONTREAL QC,1,3,30,39,34,21,225,4730

In [72]:
dd[dd.AGE == 0]

       1  PARTICIPANT_ID  EveTyp  YEAR  GENDER  AGE  TotalTimeTaken
15     1            1689       3  2014      -1    0             299
57     1            1711       3  2014      -1    0             418
63     1            1711       3  2013      -1    0             494
89     1            1727       0  2013      -1    0               0
141    1            1756       0  2015       0    0               0
267    1            1843       2  2014       1    0             285
268    1            1843       2  2013       1    0             297
291    1            1852       3  2013      -1    0             287
317    1            1870       0  2016       0    0               0
441    1            1928       3  2013       1    0             254
458    1            1940       2  2014       1    0             290
463    1            1940       2  2013       1    0             280
548    1            1973       0  2014       1    0               0
635    1            2011       3  2013      -1    0             353
887    1            2154       2  2014       0    0             378
990    1            6499       2  2013       1    0             394
992    1            6499       0  2012       1    0               0
993    1            6499       2  2012       1    0             351
1006   1            6508       3  2014       0    0             373
1015   1            6514       3  2012       0    0             379
1066   1            6547       0  2014      -1    0               0
1204   1            6625       0  2016       0    0               0
1206   1            6625       0  2013      -1    0               0
1219   1            6637       3  2015       1    0             265
1220   1            6637       3  2014       1    0               0
1239   1            6644       0  2013       1    0               0
1276   1            6663       3  2016       0    0             335
1277   1            6663       0  2016       0    0               0
1304   1            6684       0  2013       1    0               0
1306   1            6684       0  2012       1    0               0
...   ..             ...     ...   ...     ...  ...             ...
24839  1            1004       0  2015       1    0               0
24840  1            1004       0  2015       1    0               0
25062  1            6118       3  2013       1    0             335
25071  1            6123       3  2013       1    0             280
25312  1            6251       3  2013       1    0             495
25410  1            6310       0  2013      -1    0               0
25535  1            6415       0  2015       0    0               0
25537  1            6415       0  2014      -1    0               0
25540  1            6417       0  2014       1    0               0
25583  1            6425       3  2014       1    0             326
25588  1            6427       2  2015       0    0             257
25611  1            6435       3  2014       1    0             315
25670  1            8637       0  2012       1    0               0
25671  1            8637       2  2012       1    0             319
25697  1            8640       3  2013      -1    0             346
25843  1            1076       3  2014       0    0               0
25948  1            1131       2  2013       1    0             299
26035  1            1167       0  2014       1    0               0
26078  1            1190       0  2016       0    0               0
26167  1            1229       2  2014       0    0             250
26227  1            1259       2  2013       1    0             272
26275  1            1301       2  2013       1    0             420
26342  1            1334       0  2016       0    0               0
26364  1            1348       3  2015      -1    0             324
26417  1            1360       2  2013       1    0             406
26450  1            1369       0  2014       1    0               0
26459  1            1369       0  2013       1    0               0
26607  1            1451       3  2014      -1    0             378
26642  1            1486       3  2014       0    0             271
26898  1            1646       2  2013       1    0             328

[267 rows x 7 columns]

In [57]:
# Dropping spurious rows
#data = data.drop(data.index[[23136]])
data = data.drop(data.index[[2786]])

In [60]:
data.PARTICIPANT_ID = data.PARTICIPANT_ID.astype(int)

In [124]:
mon_mara = data[(data.EveTyp == 6) & data.LOCATION.str.contains('montreal',case=False)]
data.groupby(['PARTICIPANT_ID','YEAR']).agg('count').reset_index().sort_values('EVENT_DATE',ascending=False)

,PARTICIPANT_ID,YEAR,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY,GENDER,EVENT_DT,DAY,...,ID,LOCATION,LABEL,EveTyp,Age1,Age2,AvgAge,Distance,TimePerKm,TimeInSeconds
5077,2872,2013,29,29,29,29,29,29,29,29,...,0,29,29,29,29,29,29,29,29,29
5076,2872,2012,26,26,26,26,26,26,26,26,...,0,26,26,26,26,26,26,26,26,26
661,384,2012,23,23,23,23,23,23,23,23,...,0,23,23,23,23,23,23,23,23,23
1764,1004,2014,20,20,20,20,20,20,20,20,...,0,20,20,20,20,20,20,20,20,20
664,384,2015,20,20,20,20,20,20,20,20,...,0,20,20,20,20,20,20,20,20,20
5078,2872,2014,19,19,19,19,19,19,19,19,...,0,19,19,19,19,19,19,19,19,19
9168,5118,2013,18,18,18,18,18,18,18,18,...,0,18,18,18,18,18,18,18,18,18
663,384,2014,17,17,17,17,17,17,17,17,...,0,17,17,17,17,17,17,17,17,17
662,384,2013,17,17,17,17,17,17,17,17,...,0,17,17,17,17,17,17,17,17,17
4400,2506,2012,16,16,16,16,16,16,16,16,...,0,16,16,16,16,16,16,16,16,16
1765,1004,2015,16,16,16,16,16,16,16,16,...,0,16,16,16,16,16,16,16,16,16
5917,3331,2012,16,16,16,16,16,16,16,16,...,0,16,16,16,16,16,16,16,16,16
5919,3331,2014,16,16,16,16,16,16,16,16,...,0,16,16,16,16,16,16,16,16,16
9157,5112,2013,14,14,14,14,14,14,14,14,...,0,14,14,14,14,14,14,14,14,14
1763,1004,2013,14,14,14,14,14,14,14,14,...,0,14,14,14,14,14,14,14,14,14
5894,3320,2014,14,14,14,14,14,14,14,14,...,0,14,14,14,14,14,14,14,14,14
557,331,2014,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
7839,4359,2013,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
14746,8218,2012,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
4269,2435,2014,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
9167,5118,2012,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
7309,4069,2012,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
7310,4069,2013,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
4403,2506,2015,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
2378,1351,2013,13,13,13,13,13,13,13,13,...,0,13,13,13,13,13,13,13,13,13
12038,6706,2012,12,12,12,12,12,12,12,12,...,0,12,12,12,12,12,12,12,12,12
12039,6706,2013,12,12,12,12,12,12,12,12,...,0,12,12,12,12,12,12,12,12,12
7311,4069,2014,12,12,12,12,12,12,12,12,...,0,12,12,12,12,12,12,12,12,12
829,476,2012,12,12,12,12,12,12,12,12,...,0,12,12,12,12,12,12,12,12,12
2379,1351,2014,12,12,12,12,12,12,12,12,...,0,12,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6391,3593,2014,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6395,3595,2013,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6396,3595,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6397,3595,2016,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6398,3596,2012,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6371,3584,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6369,3583,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6327,3562,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6338,3569,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6328,3563,2013,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6329,3563,2014,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6330,3563,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6331,3563,2016,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6332,3564,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6333,3565,2013,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6334,3566,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6335,3567,2014,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6337,3568,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6340,3571,2012,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6366,3581,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6341,3571,2013,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6348,3574,2013,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6349,3574,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6350,3575,2012,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6356,3576,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6359,3578,2013,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6360,3578,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6361,3579,2012,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
6365,3580,2015,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
15648,8710,2016,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1

In [ ]:
mara[mara.PARTICIPANT_ID == 2].groupby(['YEAR']).agg('count').reset_index()

In [ ]:
# Total
len(data[data.PARTICIPANT_ID == 2])

In [ ]:
# Count per year
data[(data.LABEL == 1) & (data.PARTICIPANT_ID == 98)].groupby(['YEAR']).agg('count').reset_index()

## Aggregating Data for Classification

#### Years in which user has participated in a Montreal Marathon (0 no, 1 yes)

In [89]:
years = [2012,2013,2014,2015]

def transformYearData(num_users):
    # Calculating Year
    ndr = []
    for x in range(num_users):
        nr = np.zeros(len(years)) # 2012, 2013, 2014, 2015
        for i,rec in mon_mara[mon_mara['PARTICIPANT_ID'] == x].iterrows():
            nr[years.index(rec['YEAR'])] = 1
        ndr.append(nr)
    return np.vstack(ndr)

In [295]:
#ndr_year = transformYearData(8711)
ndr_year = np.array(ndr_year)
#ndr_year

array([[ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 1.,  1.,  1.,  1.,  0.],
       ...,
       [ 1.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.]])

In [296]:
len(ndr_year)

8711

#### Total Montreal Marathons participated by a user
Also accounts for _all_ marathons in Montreal (including demi,half etc, which were labelled LABEL = 1)

In [109]:
def transformTotalMaraMon(num_users):
    dt = data[(data.LABEL == 1) & data.LOCATION.str.contains('montreal',case=False)].groupby(['PARTICIPANT_ID']).agg('count').reset_index()
    numr = []
    for x in range(num_users):
        v = dt[dt.PARTICIPANT_ID == x]['EVENT_DATE']
        if len(v) > 0:
            numr.append(v.iloc[0])
        else:
            numr.append(0)
    return numr

In [143]:
ndr_total_m = transformTotalMaraMon(8711)

In [303]:
len(ndr_total_m)
ndr_total_m = np.array(ndr_total_m).reshape(-1,1)

#### Total Marathons participated by a user

In [112]:
def transformTotalMara(num_users):
    dt = data[data.LABEL == 1].groupby(['PARTICIPANT_ID']).agg('count').reset_index()
    numr = []
    for x in range(num_users):
        v = dt[dt.PARTICIPANT_ID == x]['EVENT_DATE']
        if len(v) > 0:
            numr.append(v.iloc[0])
        else:
            numr.append(0)
    return numr

In [306]:
ndr_mara = transformTotalMara(8711)

In [308]:
#len(ndr_mara)
ndr_mara = np.array(ndr_mara).reshape(-1,1)

#### Total Events participated by a user

In [115]:
def transformTotal(num_users):
    dt = data.groupby(['PARTICIPANT_ID']).agg('count').reset_index()
    numr = []
    for x in range(num_users):
        v = dt[dt.PARTICIPANT_ID == x]['EVENT_DATE']
        if len(v) > 0:
            numr.append(v.iloc[0])
        else:
            numr.append(0)
    return numr

In [147]:
ndr_total = transformTotal(8711)

In [309]:
ndr_total = np.array(ndr_total).reshape(-1,1)

#### Total Events Participated by User in each year

In [127]:
years = [2012,2013,2014,2015,2016]
def transformYearTotalData(num_users):
    # Calculating Year
    ndr = []
    dt = data.groupby(['PARTICIPANT_ID','YEAR']).agg('count').reset_index().sort_values('EVENT_DATE',ascending=False)
    for x in range(num_users):
        nr = np.zeros(len(years)) # 2012, 2013, 2014, 2015 and 2016
        for i,rec in dt[dt['PARTICIPANT_ID'] == x].iterrows():
            nr[years.index(rec['YEAR'])] = rec['EVENT_DATE']
        ndr.append(nr)
    return np.vstack(ndr)

In [148]:
ndr_total_year = transformYearTotalData(8711)

In [149]:
len(ndr_total_year)

8711

In [310]:
ndr_total_year = np.array(ndr_total_year)

#### Age of user

Taken mean age for all users

In [151]:
# AGE
ds = data.groupby(['PARTICIPANT_ID']).agg('mean').reset_index()
ndr_age = ds.AvgAge.tolist()

In [311]:
#len(ndr_age)
ndr_age = np.array(ndr_age).reshape(-1,1)

#### Gender

M : 0, F : 1, rest all : -1

In [284]:
data[(data.GENDER != 'M') & (data.GENDER != 'F')]

,PARTICIPANT_ID,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY,GENDER,EVENT_DT,DAY,YEAR,...,ID,LOCATION,LABEL,EveTyp,Age1,Age2,AvgAge,Distance,TimePerKm,TimeInSeconds
329,3223,28-09-2014,Marathon Oasis Rock â€˜nâ€™ Roll de MontrÃ©al,Marathon,04:54:43,NO AGE,N,28-09-2014,28,2014,...,NaN,MONTREAL QC,1,6,0,0,0,42,421,17683
549,768,20-09-2015,Marathon Oasis Rock 'n' Roll de Montreal,Marathon,-1,NaN,,20-09-2015,20,2015,...,NaN,MONTREAL QC,1,6,0,0,0,42,0,0
1555,1154,28-09-2014,Marathon Oasis Rock â€˜nâ€™ Roll de MontrÃ©al,Marathon,06:48:06,NO AGE,N,28-09-2014,28,2014,...,NaN,MONTREAL QC,1,6,0,0,0,42,583,24486
5260,7525,23-08-2015,Demi-Marathon Bonneville de Lachine,21.1 KM,01:49:47,NO AGE,N,23-08-2015,23,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
5308,7556,23-08-2015,Demi-Marathon Bonneville de Lachine,21.1 KM,01:52:21,NO AGE,N,23-08-2015,23,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
5556,3308,08-06-2014,Demi marathon des pompiers de Shawinigan,5K Road Race,00:21:00,No Age,N,08-06-2014,8,2014,...,NaN,SHAWINIGAN QC,1,1,0,0,0,5,252,1260
5703,3346,21-06-2015,Demi-Marathon du Baluchon,5K Road Race,00:21:24,NO AGE,N,21-06-2015,21,2015,...,NaN,ST-PAULIN QC,1,1,0,0,0,5,256,1284
9496,4617,23-08-2015,Demi-Marathon Bonneville de Lachine,21.1 KM,01:45:38,NO AGE,N,23-08-2015,23,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
9845,4862,20-09-2015,Marathon Oasis Rock 'n' Roll de Montreal,Demi-Marathon,01:44:56,NO AGE,N,20-09-2015,20,2015,...,NaN,MONTREAL QC,1,3,0,0,0,21,299,6296
10677,5263,10-05-2015,Course MEC MontrÃ©al #3,15 KM,01:33:14,NO AGE,N,10-05-2015,10,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
11802,5516,07-09-2014,Coupe Dix30,15K Marathon,01:35:58,NO-AGE,N,07-09-2014,7,2014,...,NaN,BOUCHERVILLE QC,0,0,0,0,0,0,0,0
13159,189,17-02-2013,Winterman Marathon and Marathon Relays,Half-Marathon,01:56:32,CLYDE,C,17-02-2013,17,2013,...,NaN,OTTAWA ON,1,3,0,0,0,21,332,6992
13534,384,12-06-2016,DÃ‰FI PIERRE BRISE-BOIS,30K Marathon,01:59:31,NaN,,12-06-2016,12,2016,...,NaN,MONTREAL QC,1,4,0,0,0,30,239,7171
13702,427,07-06-2015,Course MEC MontrÃ©al #4,10K Marathon,00:49:07,NO AGE,N,07-06-2015,7,2015,...,NaN,MONTREAL QC,1,2,0,0,0,10,294,2947
14369,770,11-05-2013,Day Before Mother's Day Duathlon & Relays,Short Duathlon,01:00:47,CLYDE,C,11-05-2013,11,2013,...,NaN,OTTAWA ON,0,0,0,0,0,0,0,0
15778,1076,15-06-2014,Manitoba Marathon,Half-Marathon,-1,NO AGE,N,15-06-2014,15,2014,...,NaN,WINNIPEG MB,1,3,0,0,0,21,0,0
16102,1229,08-06-2014,Demi marathon des pompiers de Shawinigan,10K Marathon,00:41:43,No Age,N,08-06-2014,8,2014,...,NaN,SHAWINIGAN QC,1,2,0,0,0,10,250,2503
16577,1486,08-06-2014,Demi marathon des pompiers de Shawinigan,Demi-Marathon,01:35:02,No Age,N,08-06-2014,8,2014,...,NaN,SHAWINIGAN QC,1,3,0,0,0,21,271,5702
17037,1756,23-08-2015,Demi-Marathon Bonneville de Lachine,21.1 KM,02:09:39,NO AGE,N,23-08-2015,23,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
17783,2154,24-08-2014,Demi-marathon Bonneville de Lachine,10K Marathon,01:03:02,NO-AGE,N,24-08-2014,24,2014,...,NaN,LACHINE,1,2,0,0,0,10,378,3782
17902,6508,08-06-2014,Demi marathon des pompiers de Shawinigan,Demi-Marathon,02:10:40,No Age,N,08-06-2014,8,2014,...,NaN,SHAWINIGAN QC,1,3,0,0,0,21,373,7840
18100,6625,10-09-2016,Ultra-Trail Harricana du Canada (UTHC),uthc65,-1,NO AGE,N,10-09-2016,10,2016,...,NaN,LA MALBAIE QC,0,0,0,0,0,0,0,0
18172,6663,19-06-2016,MEC Ottawa race 2 - Dad's Day Dash,Half-Marathon,01:57:23,NO AGE,N,19-06-2016,19,2016,...,NaN,CARP ON,1,3,0,0,0,21,335,7043
18173,6663,16-04-2016,MEC Ottawa race 1 - The Spring Flyer,10 Miles,01:22:07,NO AGE,N,16-04-2016,16,2016,...,NaN,OTTAWA ON,0,0,0,0,0,0,0,0
19236,2192,08-06-2014,Demi marathon des pompiers de Shawinigan,10K Marathon,00:49:09,No Age,N,08-06-2014,8,2014,...,NaN,SHAWINIGAN QC,1,2,0,0,0,10,294,2949
19410,2306,23-08-2015,Demi-Marathon Bonneville de Lachine,21.1 KM,02:22:35,NO AGE,N,23-08-2015,23,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
19598,2424,23-08-2015,Demi-Marathon Bonneville de Lachine,21.1 KM,02:26:25,NO AGE,N,23-08-2015,23,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
20214,2694,05-09-2015,Course MEC MontrÃ©al #7 - LA COURSE-LUMIÃˆRE,15 KM,01:22:52,NO AGE,N,05-09-2015,5,2015,...,NaN,MONTREAL QC,0,0,0,0,0,0,0,0
21967,3661,20-09-2015,Marathon Oasis Rock 'n' Roll de Montreal,Marathon,05:27:11,NO AGE,N,20-09-2015,20,2015,...,NaN,MONTREAL QC,1,6,0,0,0,42,467,19631
24808,5296,20-09-2015,Marathon Oasis Rock 'n' Roll de Montreal,Marathon,04:25:09,NO AGE,N,20-09-2015,20,2015,...,NaN,MONTREAL QC,1,6,0,0,0,42,378,15909
25026,8418,20-09-2015,Marathon Oasis Rock 'n' Roll de Montreal,Marathon,04:46:30,NO AGE,N,20-09-2015,20,2015,...,NaN,MONTREAL QC,1,6,0,0,0,42,409,17190
26703,447,23-09-2012,Marathon Oasis de Montreal,Marathon,04:43:57,U0-0,U,23-09-2012,23,2012,...,NaN,MONTREAL QC,1,6,0,0,0,42,405,17037

In [156]:
#data.GENDER = data.GENDER.replace('H','M')
data.GENDER = data.GENDER.replace('S','M')

In [283]:
data[data.PARTICIPANT_ID == 76]

,PARTICIPANT_ID,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY,GENDER,EVENT_DT,DAY,YEAR,...,ID,LOCATION,LABEL,EveTyp,Age1,Age2,AvgAge,Distance,TimePerKm,TimeInSeconds
12964,76,19-06-2016,Courses Thematiques Tour du Lac Brome Merrell,20 KM,01:50:18,NO AGE,F,19-06-2016,19,2016,...,NaN,LAC-BROME QC,0,0,0,0,0,0,0,0
26256,76,28-09-2014,Marathon Oasis Rock â€˜nâ€™ Roll de MontrÃ©al,Marathon,04:42:59,F35-39,F,28-09-2014,28,2014,...,NaN,MONTREAL QC,1,6,35,39,37,42,404,16979

In [282]:
idz = {'M' :[25912,21437,18920,15523,11592,16013,14671,10603,5945,9030,6569,6684,5052,9504,9637,9638,13308,12595],
       'F' : [2201,3241,24844,18982,17911,15470,11454,10468,26256,12964]
      }

for key in idz:
    for i in idz[key]:
        data = data.set_value(i,'GENDER',key)

In [289]:
genderMap = {'M' : 0, 'F' : 1}
def transformGender(num_users):
    ndr = []
    for x in range(num_users):
        done = False
        for i,rec in data[data['PARTICIPANT_ID'] == x].iterrows():
            if rec['GENDER'] == 'M' or rec['GENDER'] == 'F':
                ndr.append(genderMap[rec['GENDER']])
                done = True
                break
        if not done:
            ndr.append(-1)
    return ndr

In [290]:
ndr_gender = transformGender(8711)

In [312]:
#len(ndr_gender)

ndr_gender = np.array(ndr_gender).reshape(-1,1)

### Aggregate all columns

In [313]:
ndr_all_but_yr = np.concatenate((ndr_age,ndr_gender,ndr_mara,ndr_total,ndr_total_m,ndr_total_year),axis=1)

In [315]:
len(ndr_all_but_yr)

8711

In [326]:
ndr2012_14 = ndr_year[:, [0, 1, 2]]
ndr2015 = ndr_year[:, [3]]

In [334]:
ndr2015 = ndr2015.reshape((-1,))

In [327]:
ndr_full = np.concatenate((ndr_all_but_yr, ndr2012_14), axis=1)

#### Split Test Train

In [335]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ndr_full,ndr2015)

In [336]:
import learner as ln
lgn = ln.logistic(iter_n=100)

In [338]:
lgn.fit(X_train, y_train)

In [339]:
y_pc = lgn.predict(X_test)

[ 0.  1.  0. ...,  0.  1.  1.]

### Accuracy

In [340]:
np.mean(y_pc == y_test)

0.85307621671258038

In [341]:
data.to_csv('final_data_v2.csv')