In [4]:
import pandas as pd
import numpy as np
import csv
import sys

In [42]:
COLS = ['PARTICIPANT_ID','EVENT_DATE','EVENT_NAME','EVENT_TYPE','TIME','CATEGORY']

In [122]:
# Code to convert columns into rows
# Updated thanks to observation by Ramchalam
df = pd.DataFrame(columns=COLS)
unclean_data = csv.reader(open("Project1_data.csv","rb"))
ct = 0
for row in unclean_data:
    ct = ct + 1
    if ct == 1:
        continue
    #print row
    r = row
    n = []
    idn = r.pop(0)
    #print idn,
    t = 0
    for j in r:
        #print j
        #print t
        if t % 5 == 0:
            if t != 0:
                df = df.append(pd.DataFrame([n],columns=COLS))
            n = []
            n.append(idn)
            n.append(j)
        else:
            n.append(j)
        t = t + 1
    df = df.append(pd.DataFrame([n],columns=COLS))
    #if ct > 5:
    #   sys.exit(0)

In [125]:
# Total Count
len(df)

26961

In [20]:
unclean_data

In [50]:
df.to_csv('aggregated.csv')

In [97]:
df.head()

,PARTICIPANT_ID,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY,GENDER
0,1,2016-08-21,Ironman 70.3 Timberman,Individual,04:59:33,M40-44,M
0,1,2016-07-31,Trimemphré Magog,Triathlon Sprint,01:15:04,M40-44,M
0,1,2016-06-27,Ironman 70.3 Mont-Tremblant,Individuel,05:24:08,M40-44,M
0,1,2016-06-05,Triathlon Challenge Antoine-Manseau Joliette,Triathlon sprint AG Coupe du Québec,01:12:04,M40-44,M
0,1,2016-04-24,Banque Scotia 21K de Montreal,Demi-Marathon,-1,M40-44,M

# Cleaning Process

In [74]:
df.EVENT_TYPE.value_counts()

Marathon                                4573
Demi-Marathon                           2736
10 KM                                   1905
5 KM                                     857
Ottawa Marathon                          673
21 KM                                    670
20 KM                                    534
Half Marathon                            388
Triathlon Olympique                      349
30 km                                    330
Triathlon Sprint                         270
21.1 KM                                  249
Scotiabank Ottawa Marathon               247
Ottawa Half-Marathon - Demi-marathon     213
Ottawa Half Marathon                     176
Overall                                  172
Scotiabank Ottawa Half Marathon          138
Overall Results                          134
Individuel                               113
Duathlon Olympique                        87
Ottawa 10K                                80
70.3 Results                              78
Sprint Triathlon                          66
15 km                                     64
Demi Esprit                               58
Half Marathon - Demi Marathon             56
Ironman 5150- Triathlon Olympique         53
Full Marathon                             52
Duathlon Sprint                           51
Resultats                                 48
                                        ...
Défi 6 km Le Coureur nordique              1
10k (Half Marathoners)                     1
10km Chaussures Mille-pattes               1
Short Course- By Time                      1
Ironman 70.3 Monterrey Results             1
Iron 226 SwimCycle                         1
55km Classique                             1
Piccolo Fondo (80 KM)                      1
10.5 km - Course                           1
Long Course Triathlon                      1
5K Run                                     1
Triathlon initiation - 10-99 ans           1
Triathlon Groupe D'age                     1
Olympic Distance Triathlon                 1
Ironman Los Cabos Results                  1
8km Run                                    1
Defi Des Entreprises                       1
Olympic Duathlon                           1
10 km run/walk                             1
38km style libre                           1
Standard Distance Championships            1
UPS 10 km                                  1
Cross-Country - 2 km                       1
Groupes d'ages                             1
20km classique                             1
Saskatchewan Credit Unions 42.2K Run       1
Gran Fondo                                 1
5km Run                                    1
17.5 km                                    1
1 km - Maxi                                1
Name: EVENT_TYPE, dtype: int64

In [73]:
#df.EVENT_TYPE = df.EVENT_TYPE.replace('10 km','10 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('5 km','5 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('Demi Marathon','Demi-Marathon')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('Demi-marathon','Demi-Marathon')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('21 km','21 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('20 Km Route','20 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('20 km Route','20 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('10km','10 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('20 km','20 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('21.1 km','21.1 KM')
#df.EVENT_TYPE = df.EVENT_TYPE.replace('21,1 km','21.1 KM')
df.EVENT_TYPE = df.EVENT_TYPE.replace('20 km route','20 KM')

In [75]:
df.to_csv('cleaning.csv')

In [96]:
df['GENDER'] = df.CATEGORY.apply(lambda x : (str(x)+" ")[0])

In [102]:
df.CATEGORY.apply(lambda x : (str(x)+" ")[1:-1])

0    40-44
0    40-44
0    40-44
0    40-44
0    40-44
0    40-44
0    40-49
0    40-44
0    30-39
0    35-39
0    35-39
0    30-39
0    35-39
0    30-39
0    40-44
0    40-49
0    40-44
0    40-44
0    30-34
0    35-39
0      13+
0      13+
0    30-39
0    30-39
0    30-39
0      13+
0    35-39
0    35-39
0    30-39
0    35-39
     ...
0    50-59
0    50-54
0    45-49
0    45-49
0    35-39
0    30-34
0    25-29
0    30-39
0    30-39
0    30-34
0    30-34
0    30-39
0    30-34
0    25-29
0    25-29
0    25-29
0    20-29
0    30-39
0    20-29
0    25-29
0    40-49
0    40-49
0    40-49
0    40-49
0    35-39
0    30-39
0    30-39
0    30-39
0    35-39
0    36-45
Name: CATEGORY, dtype: object

In [86]:
s[0]

'M'

In [124]:
df[df.PARTICIPANT_ID == '3']

,PARTICIPANT_ID,EVENT_DATE,EVENT_NAME,EVENT_TYPE,TIME,CATEGORY
0,3,2015-09-20,Marathon Oasis Rock 'n' Roll de Montreal,Marathon,04:16:00,M15-17